{% extends "base.html" %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static "modal_post/css/modal_post.css" %}"/>
{% endblock 'head' %}
x
{% block 'body' %}
<div class="modal_comment">
    <div class="modal_comment_container">
        <img src="{{post.post_image.url}}" alt="Post Image"/>
        <div class="modal_comment_content">
            <div class="modal_comment_header_right">
                <span class="material-symbols-outlined close_modal_comment">close</span>
            </div>
            {% if post.user_post.id == request.user.id %}
                <form action="{% url "delete_post" post.id  %}" method="POST">{% csrf_token %}
                    <button class="button_delete_post" type="submit"><span class="material-symbols-outlined deleted_post">
                        delete
                    </span></button>
                </form>
            {% endif %}
            {% if post.comment_set.all %}
            <div class="box_comments">
            {% for comment in post.comment_set.all %}
            <div class="modal_comment_content_comment">
                <img src="{{comment.user_comment.foto_perfil.url}}" alt="img-profile"/>
                
                <p> <b>{{comment.user_comment.username}}</b> {{comment.comment}}</p>
            </div>
            {% endfor %}
            </div>

            {% else %}
            <p class="not_comment">Nenhum comentário ainda 🥲</p>
            {% endif %}

            <div class="comment_likes">
                
                    <form action="{% url "add_like" post.id %}" method="POST">{% csrf_token %}
                        <input type="hidden" name="add_likes" value="add_likes"/>
                        <button type="submit"><a href="#"><span class="material-symbols-outlined {% for like in post.like_set.all %}{% if like.user_like == request.user %}{{ like.color_icon }}{% endif %}{% endfor %}">favorite</span></a></button>
                    </form>
              
                {% if post.like_set.count == 0 %}
                    <span>sem curtida</span>
                {% elif post.like_set.count == 1 %}
                    <span>{{post.like_set.count}} curtida</span>
                {% else %}
                    <span>{{post.like_set.count}} curtidas</span>
                {% endif %}
            </div>

            <div class="comments">
                <form action="{% url "add_comment" post.id %}" method="POST"/>{% csrf_token %}
                    <input type=text placeholder="Adicione um comentário..." name="comment"/>
                </form>
            </div>
            
        </div>
    </div>
</div>

<script src="{% static "modal_post/js/modal_post.js" %}" defer></script>
{% endblock 'body' %}

