.container_posts .material-symbols-outlined {
    font-size:30px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container_posts .material-symbols-outlined:hover{
    font-variation-settings:
    'FILL' 1
}

section.home{
    margin-left:15%;
    min-height:100vh;
}

.container_posts{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    padding: 2rem 0;
}

.card_posts{
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width:500px;
    max-width:500px;
    gap: 10px;
}
.card_posts_username{
    margin-top: 1rem;
}

.card_posts_header{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.card_posts_header img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.img-principal-post{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card_posts_footer{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.card_posts_footer button, .comment_likes button{
    background: transparent;
    border: none;
}

.card_posts_footer a, .comment_likes a{
    color: #000;
}

.card_posts:hover .post_title{
    display: flex;
}

.comments{
    width:100%;
}

.comments input{
    border: none;
    outline: none;
    border-bottom: 1px solid #00000061;
    width: 100%;
}

.container_posts .material-symbols-outlined.like{
    color: red;
    font-variation-settings:
    'FILL' 1
}

.modal_comment{ 
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    min-height:100vh;
    display: none;
}


.modal_comment:target {
    display: flex;
}
.modal_comment_container{
    width: auto;
    background: #fff;
    margin: 0 auto;
    display:flex;
    align-items:start;
    justify-content: space-between;
    padding: 0;
    gap:10px;
    max-width:940px;
    min-width: 55%;
}

.modal_comment_container img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.modal_comment_content{
    padding:1rem 1.5rem 1rem .5rem;
    width:100%;
    display: flex;
    flex-direction: column;
}

.modal_comment_content_comment{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.modal_comment_content_comment img{
    width: 30px;
    height: 30px;
    border-radius:50px;
    object-fit: cover;
}


.modal_comment_header_right{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items:start;
    justify-content: end;
}

.modal_comment_header_right span{
    cursor:pointer;
}

.not_comment{
    text-align: center;
}

.comment_likes {
    width: 100%;
    display: flex
}

.box_comments {
    height: 370px;
    overflow-y: scroll;
}

span.material-symbols-outlined.bookmarks {
    position: relative;
    left: 23.5rem;
    z-index:-1;
}