@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: start;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

section.alert {
    max-width: max-content;
    text-align: center;
    margin: 0 auto;
}
